[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/telltruth/nerdtree
[submodule "origin_bundle_source/nerdtree"]
	path = origin_bundle_source/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "origin_bundle_source/taglist"]
	path = origin_bundle_source/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "origin_bundle_source/AutoComplPop"]
	path = origin_bundle_source/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "origin_bundle_source/snipMate"]
	path = origin_bundle_source/snipMate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "origin_bundle_source/a"]
	path = origin_bundle_source/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "origin_bundle_source/comments"]
	path = origin_bundle_source/comments
	url = https://github.com/vim-scripts/comments.vim.git
[submodule "origin_bundle_source/cscope_maps"]
	path = origin_bundle_source/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "origin_bundle_source/bufexplorer"]
	path = origin_bundle_source/bufexplorer
	url = https://github.com/c9s/bufexplorer.git
[submodule "bundle/SrcExpl"]
	path = bundle/SrcExpl
	url = https://github.com/telltruth/SrcExpl
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/telltruth/a
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/telltruth/AutoComplPop
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/telltruth/bufexplorer
[submodule "bundle/comments"]
	path = bundle/comments
	url = https://github.com/telltruth/comments.vim
[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = https://github.com/telltruth/cscope_maps
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/telltruth/snipMate
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/telltruth/taglist
[submodule "origin_bundle_source/SrcExpl"]
	path = origin_bundle_source/SrcExpl
	url = https://github.com/wesleyche/SrcExpl.git
